.prompt {
	width: 80%;
	margin: 5% auto;
	border: 3px solid;
	border-radius: 10px;
}

h1 {
	text-align: center;
	margin: 10% auto;
	font-family: Cambria, sans-serif;
	font-size: 2em;
}

.contents {
	margin: 5% auto;
	text-align: center;
	color: #FFF;
}

.beware {
	text-align: center;
	border: 2.5px solid;
	width: 60%;
	margin: 0 auto;
}

.help {
	margin: 3px 0 0;
}

.Avo {
	display: block;
	width: 250px;
	margin: 5% 25% 10%;
}

meter {
	width: 50%;
	margin: 0% 25%;
	display: inline;
}

.meters {
	text-align: center;
	margin: 6px 0 0;
	font-weight: bold;
}

.nav {
	width: 100%;
	float: left;
	margin: -21px 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;  }
.nav ul {
	list-style: none;
	width: 100%;
	margin: 0 ;
	padding: 0; }
.nav li {
	float: left; 
	width: 33.3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333%;
}
.nav li a {
	display: block;
	padding: 2em 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; 
	text-align: center;
}
.nav li:first-child a {
	border-left: 1px solid #ccc; }
.nav li a:hover {
	color: #c00;
	background-color: #fff; 
}

body {
	margin: 0;
	background-color: #f2f2f2;
}

button {
	width: 20%;
	margin: 10% 40%;
	padding: 10px 15px;
	background: #4479BA;
	color: #FFF;
	border-radius: 6px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}